/* -------------------- General styles -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  background-color: var(--main-background);
  color: var(--text-elements);
}

body h2 {
  font-family: 'SF Pro';
}

/* -------------------- Theme Styles -------------------- */

/* light mode */
.light-theme {
  --main-background: #ffffff;
  --blocks-cards: #f0f0f0;
  --text-elements: #000000;
  --accent-color: #0a66c2;
  --menu-color: #000000;
}

/* dark mode */
.dark-theme {
  --main-background: #2e2e2e;
  --blocks-cards: #1b1b1b;
  --text-elements: #e0e0e0;
  --accent-color: #0a66c2;
  --menu-color: #e0e0e0;
}

/* Apply theme styles */
.blocks, .cards {
  background-color: var(--blocks-cards);
}

a {
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}
